/node_modules
public/build
public/hot
public/storage
public/profile
public/leave-request
public/redeem-replacement-leave
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
public/web.config
*.pdf
*.jpg
*.jpeg
public/offshore-leave
.DS_Store
public/personal-attachment
storage/.DS_Store
public/e-form
public/travel-claim-attachment
public/redeem-offshore-leave
