@mixin approval-process-attribute($bg-color, $color, $after-right) {
    background-color: $bg-color;
    box-sizing: border-box;
    color: $color;
    display: block;
    max-height: 2.5em;
    padding: .6em 1em .6em 2em;
    margin-left: .2em;
    position: relative;
    text-decoration: none;
    transition: .25s;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    &:before {
        border-top: 1.12em solid transparent;
        border-bottom: 1.12em solid transparent;
        border-left: 1.12em solid #fff;
        content: "";
        position: absolute;
        top: 0;
        right: -1.3em;
        z-index: 1;
    }

    &:after {
        border-top: 1.12em solid transparent;
        border-bottom: 1.12em solid transparent;
        border-left: 1.12em solid $bg-color;
        content: "";
        position: absolute;
        top: 0;
        right: $after-right;
        transition: .25s;
        z-index: 1;
    }
}

@mixin approval-process-variation($font, $after-right) {
    font: $font sans-serif;
    list-style: none;

    li {
        display: inline-block;
        margin-bottom: .2em;

        p.default {
            @include approval-process-attribute(#006a97, #fff, $after-right)
        }

        p.approved {
            @include approval-process-attribute($color-primary, #fff, $after-right)
        }

        p.rejected {
            @include approval-process-attribute(red, #fff, $after-right)
        }

        p.pending {
            @include approval-process-attribute($text-secondary, #fff, $after-right)
        }

        p.na {
            @include approval-process-attribute($text-disabled, black, $after-right)
        }
    }

    li:first-child p {
        padding-left: 1.5em;
        margin-left: 0;
    }
}

.approval-process {
    @include approval-process-variation(0.9em, -1.1em)
}

.approval-process-small {
    @include approval-process-variation(0.55em, -1.08em)
}


